<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='job-order.css') }}">
    <title>Job Order</title>
</head>
<body>
    <div class="header">
        <div class="logo"></div>
    </div>

    <div class="jobOrder">
        <div class="addNewCoil">
            <p>ADD COIL</p>
            <form method="POST" action="{{ url_for('views.job_order') }}">
                <input type="text" name="tag" placeholder="Coil Tag" required>
                <input type="text" name="supplier" placeholder="Supplier" required>
                <input type="text" name="color" placeholder="Color" required>
                <input type="text" name="gauge" placeholder="Gauge" required>
                <input type="text" name="weight" placeholder="Weight" required>
                <input type="text" name="location" placeholder="Location" required>
                <input type="submit" value="Submit">
            </form>
        </div>


        <div class="coilDetails">
            <div class="search">
                <form method="GET" action="{{ url_for('views.job_order') }}">
                    <input type="text" name="search" placeholder="Search">
                    <button><i class="fa fa-search"></i></button>
                </form>
            </div>

            <div class="coilTags">
                <input type="button" style="background-color: white; color: black; font-weight: bold; cursor: default;" value="Coil Tags" class="header-button">
                <i class="header-status"><b>Status</b></i>
                {% for tag in tags %}
                {% if tag[7] == "In progress" or tag[7] == "To do" or tag[7] == "Done" %}
                    <input title="Tag Already Issued and is now {{tag[7]}}" type="button" name="showCoilDetails" class="coilTag" value="{{ tag[1] }}"  readonly>
                {% else %}
                <a href="{{ url_for('views.job_order_coil_issue', showCoilDetails=tag[1]) }}">
                    <input title="Issue Tag?" type="button" name="showCoilDetails" class="coilTag" value="{{ tag[1] }}">
                </a>
                {% endif %}
                    {% if tag[7] == "To do"%}   
                        <i style="color: red;">{{ tag[7] }}</i>
                    {% elif tag[7] == "In progress"%}   
                        <i style="color: blue;">{{ tag[7] }}</i>
                    {% elif tag[7] == "Done"%}   
                        <i style="color: green;">{{ tag[7] }}</i>
                    {% elif tag[7] == "Used"%}
                        <i style="color: navy;">{{ tag[7] }}</i>
                    {%else%}
                        <i>{{ tag[7] }}</i>
                    {%endif%}
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>
