<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='operator.css') }}">
    <title>Operator</title>
</head>
<body>
    <div class="header">
        <div class="logo"></div>
    </div>
    <div class="content">
        <div class="to-do">
            <div class="todo-header">
                To do
            </div>
            {% for tag in todo_tags %}
                <div class="todo-items">
                <a href="{{ url_for('views.coil_details', coil_tag = tag[1]) }}">
                    <input type="button" name="coil-details-operator" class="coilTag" value="{{ tag[1] }}">
                </a>
                <form action="{{ url_for('views.start_process', coil_tag = tag[1]) }}" method="POST">
                    <input onclick="return confirm('Are you sure you want to start this coil?')" style="background-color: green;" type="submit" value="Start">
                </form>
                </div>
            {%endfor%}
        </div>
        <div class="in-progress">
            <div class="inprog-header">
                In progress
            </div>
            {% for tag in inprog_tags %}
                <div class="inprog-items">
                    <a href="{{ url_for('views.coil_details',  coil_tag = tag[1]) }}">
                        <input type="button" name="scoil-details-operator" class="coilTag" value="{{ tag[1] }}">
                    </a>
                    <form action="{{ url_for('views.cancel_in_progress', coil_tag = tag[1]) }}" method="POST">
                        <input onclick="return confirm('Are you sure you are sure you want to cancel the progress of this coil?')" style="background-color: red;" type="submit" value="Cancel">
                    </form>
                    <form action="{{ url_for('views.finish_coil', coil_tag = tag[1]) }}" method="POST">
                        <input onclick="return confirm('Are you sure you are finished with this coil?')" style="background-color: green;" type="submit" value="Finish">
                    </form>
                </div>
            {%endfor%}
        </div>
        <div class="done">
            <div class="done-header">
                Done
            </div>
            {% for tag in done_tags %}
                <div class="done-items">
                    <a href="{{ url_for('views.coil_details', coil_tag = tag[1]) }}">
                        <input type="button" name="coil-details-operator" class="coilTag" value="{{ tag[1] }}">
                    </a>
                    <form action="{{ url_for('views.cancel_done', coil_tag = tag[1]) }}" method="POST">
                        <input onclick="return confirm('Are you sure you are sure you want to cancel the progress of this coil?')" style="background-color: red;" type="submit" value="Cancel">
                    </form>
                    <form action="{{ url_for('views.coil_done', coil_tag = tag[1]) }}" method="POST">
                        <input onclick="return confirm('Are you sure you are finished with this coil?')" style="background-color: green;" type="submit"  value="Confirm">
                    </form>
                </div>
            {%endfor%}
        </div>
    </div>
</body>
</html>